@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}


.nav__container {
  height: 95
  px; 
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 24px;
}

.logo__img {
  width: 50px;
  float: left;
}

.logo__title {
  color: rgb(100 21 255);
  font-size: 28px;
  font-weight: 900;
  margin: 4px 0;
  float: right;
  padding: 8px;
}

a:link {
  text-decoration: none;
}

.purple {
  color: rgb(100 21 255);
}

/*
NAV
*/

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 12px;
  margin-right: 24px;
}

.nav__link {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin: 0 24px;
}

.nav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.nav__link--primary {  
  background-color: rgb(100 21 255);  border: 3px solid rgb(100 21 255);
  border-radius: 25px;
  padding: 3% 16px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

.nav__link--primary:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;  
}

h1 {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1.6px;
  margin: 24px;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 16px 24px;
  letter-spacing: .4px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(100 21 255);
  text-transform: uppercase;
  letter-spacing: 1.6px;
}



/*
LANDING
*/

#landing {
  width: 100%;
}


.landing__container {
  display: flex;
  height: 50vh;
  margin: 24px 12px;
}

.column__wrapper-1 {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column__wrapper-2 {
  flex: 1;
  display: flex;
  align-items: center;
}

.column__wrapper-3 {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column__wrapper-4 {
  flex: 1;
  display: flex;
  align-items: center;
}

.row__landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__header {
  font-size: 28px;
  margin: 24px 0;
}

.landing__sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0 24px 24px 24px;
}

.landing__para {
  width: 80%;
}

.email__wrapper {
  position: relative;
  width: 80%;
  padding: 0 16px;
}

#email {
    width: 100%;
    background-color: transparent;
    border: 3px solid rgb(100 21 255);
    border-radius: 25px;
    padding: 8px 24px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 36px;
}



button{
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 36px;
  background-color: rgb(100 21 255);
  color: white;
  padding: 0 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: not-allowed;
  border-radius: 25px;
}

button:hover{
  transition: .8s;
  background-color: #6c6c6c;
}

.cust__logo--wrapper {
position: relative;
width: 65%;
}

.cust__log-strip {
  width: 100%;
  min-width: 0; 
  height: auto;
}

.landing__img--wrapper {  
  position: relative;
}

.landing__img {
  width: 80%;
  min-width: 0;
}

/*
FEATURES
*/

.features__container {  
  padding-top: 72px;
  padding-bottom: 72px;
}

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__para {
  width: 60%;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  opacity: 60%;
  line-height: 1.5;
}

.threecolumn__container {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
  margin: 24px;
}

.threecolumn__card {
  width: calc(100% / 3);
  min-height: 90px;
  padding: 16px; 
  display: flex;
  align-items: center;
  justify-content: start;
}

.threecolumn__img-container {
  width: 30%;
height: auto;
padding: 16px;
}

.threecolumn__img {  
  margin: 24px;
  width: 150%;
}

.threecolumn__text--container {
  text-align: left;
  background-color: rgb(280, rgb(255, 255, 255));
} 

.threecolumn__title {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}

.threecolumn__para {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  opacity: 60%;
  line-height: 1.5;
}

/*
QUALITY
*/

.quality__container{
  display: flex;
  height: 50vh;
  margin: 24px 12px;
}

.column__wrapper-3 {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column__wrapper-4 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.row__quality {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality__header {
  font-size: 28px;
  margin: 24px 0;
}

.quality__para {
  width: 80%;
}

.quality__img-1 {
  z-index: 2;
  border: solid #b7aeae;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 24px 8px;
  width: 80%;
  min-width: 0;
} 

.quality__img-2 {
  z-index: 1;
  justify-content: end;
  align-items: end;
  width: 80%;
  min-width: 0;
  height: auto;
}

/*
STEPS
*/

.steps__container{
  display: flex;
  height: 50vh;
  margin: 24px 12px;
}

.column__wrapper-5 {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column__wrapper-6 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.row__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__header {
  font-size: 28px;
  margin: 24px 0;

}

.steps__para {
  width: 80%;
}

.steps__img-1 {
  z-index: 2;  
  padding-top: 24px 8px;
  width: 80%;
  min-width: 0;
} 

/*
PRICING
*/

.pricing__container {  
  padding-top: 72px;
  padding-bottom: 72px;
}

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing__para {
  width: 60%;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  opacity: 60%;
  line-height: 1.5;
  margin-bottom: 24px;
}

.pricing__container {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;

}

.pricing__card {
  width: calc(100% / 3);
  min-height: 0px;
  padding: 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__img-container {
  width: 30%;
  height: auto;
  padding: 8px;
}

.pricing__img {  
  margin: 24px;
  width: 150%;
}

.pricing__text--container {
  text-align: left;
  background-color: rgb(280, rgb(255, 255, 255));
} 

.pricing__title {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}

.pricing__para {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  opacity: 60%;
  line-height: 1.5;
}
/*
.blob {
  display: flex;
  width: 100%;  
  position: relative;
}

.blob__img {
  position: absolute;
  justify-content: end;
} */

/*
VALUES
*/

.values__container{
  display: flex;
  height: 50vh;
  margin: 24px 12px;
}

.column__wrapper-7 {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column__wrapper-8 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__values {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values__header {
  font-size: 28px;
  margin: 24px 0;
}

.values__para {
  width: 80%;
}

.values__img-1 {
  z-index: 2;
  border: solid #b7aeae;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 24px 8px;
  width: 60%;
  min-width: 0;
} 

/*
TESTIMONIAL
*/

.testimonial__container{
  display: flex;
  height: 50vh;
  margin: 24px 12px;
}

.column__wrapper-9 {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column__wrapper-10 {
  flex: 1;
  display: flex;
  align-items: center;
 justify-content: center;
}

.row__testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__header {
  font-size: 28px;
  margin: 24px 0;
}

.testimonial__para {
  width: 80%;
}

.testimonial__img-1 {
  z-index: 2;
  border: solid #b7aeae;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 24px 8px;
  width: 60%;
  min-width: 0;
} 

/*
FAQS
*/

.faqs__container {  
  padding-top: 72px;
  padding-bottom: 72px;
}

.faqs__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faqs__para {
  width: 60%;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  opacity: 60%;
  line-height: 1.5;
  margin-bottom: 24px;
}

.faqs__container {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
}

.faqs__cards {
  width: 70%;
  min-width: 0;
  justify-content: start;
}

.faqs__card {
  width: 100%;
  min-height: 0px;
  padding: 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
  }

.faqs__card-title {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}


